.h0 {
margin-bottom: -10px;

font-family: 'Roboto Condensed', sans-serif;
font-size: 63px;
font-weight:bold;
color: white;
line-height: 60px;

}


.hØ {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight:bold;
color: white;
/* line-height: normal; */

}

.h88{
  margin-top: 8px;
}


.thin_man{
  min-height: 100vh;
}

container{
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;

}

.container_one{
  min-width: 450px;
  /* float: left; */
  width:44%;
  margin:5% 5%;
  order: 0;

}

.container_two{
  margin-left: 8%;
  width: 38%;
  order: 1;
  /* float:left; */
}


.container_three{
  margin-left: 2%;
  width: 18%;
  order: 1;
  /* float:left; */
}

.video_box{
  margin:0 0%;
  /* transform: scale(0.75); */
}

.everyman_img{
  float:left;
  width: 90px;
  height:90px;
  margin: 10px 25px;
  /* margin: -10px 10px 0px; */

}

.everyman_img_ctr{
  float:center;
  width: 90px;
  height:90px;
  margin: 10px 25px;
}


.column_image {
    float: left;
    width: 25%;
}

.column_textos {
    float: left;
    width: 75%;
}

.colunm_dos{
  float: left;
  /* margin-left: 2.5%; */
  /* margin-right: 2.5%; */
  width: 45%;
}

.colunm_tres{
  float: left;
  /* margin-left: 2.5%; */
  /* margin-right: 2.5%; */
  width: 30%;
}

.imigminable{
  min-width: 300px;

}
.imminible{
  /* min-width: 440px; */
  padding-left:25px;
  padding-bottom: 25px;
}

.cardstyle{
  min-width: 450px;
margin-top:100px; margin-left: 10%; margin-right:10%; padding:25px; padding-top:15px; width: initial;

}

.cardstyle_l{
  min-width: 450px;
  margin-left: 10%;
  margin-right:10px;
  width: initial;
  margin-bottom:10px;


}

.cardstyle_r{
  min-width: 450px;

  margin-bottom:10px; margin-top:0px; margin-left: 10%; margin-right:10%; width: initial;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* //////////////////////////////////////////////////////////////////////////////// */


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero-transparent{
  position: absolute;
  padding: 0% 5%;
      margin: auto;
      left: 0;
      right: 0;
      top: -18%;
      bottom: 0;
      width: 90%;
      max-width: 1440px;
      max-height: 80%;
}


.center-in-parent{

  position: absolute;
  /* padding: 0% 5%; */
      margin: auto;
      left: 0;
      right: 0;
      top: -0%;
      bottom: 0;
      /* width: 90%; */
      /* max-width: 1440px; */
      /* max-height: 80%; */


}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a000;
  text-align: center;
}


/* //////////////////////////////////////////////////////////////////////////////// */

.flypost_universalis_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c0de+0,00c0de+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(0,192,222,0) 0%, rgba(0,192,222,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,192,222,0) 0%,rgba(0,192,222,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,192,222,0) 0%,rgba(0,192,222,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000c0de', endColorstr='#8000c0de',GradientType=0 ); /* IE6-9 */
}

.movi_android_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e27a7a+0,d63a22+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(226,122,122,0) 0%, rgba(214,58,34,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226,122,122,0) 0%,rgba(214,58,34,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(226,122,122,0) 0%,rgba(214,58,34,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e27a7a', endColorstr='#80d63a22',GradientType=0 ); /* IE6-9 */
}

.capstone_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,f4f9ff+100&0+0,0.35+100 */
background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(244,249,255,0.35) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(244,249,255,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(244,249,255,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#59f4f9ff',GradientType=0 ); /* IE6-9 */
}


.hd_project_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd307+0,ffd307+100&0+0,0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(255,211,7,0) 0%, rgba(255,211,7,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,211,7,0) 0%,rgba(255,211,7,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,211,7,0) 0%,rgba(255,211,7,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffd307', endColorstr='#80ffd307',GradientType=0 ); /* IE6-9 */
}

.myngo_project_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb5b5+0,ffb5b5+100&0+0,0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255,181,181,0) 0%, rgba(255,181,181,.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,181,181,0) 0%,rgba(255,181,181,.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,181,181,0) 0%,rgba(255,181,181,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffb5b5', endColorstr='#80ffb5b5',GradientType=0 ); /* IE6-9 */
}


.material_flashlight_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33c988+0,33c988+100&0+0,0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(51,201,136,0) 0%, rgba(51,201,136,.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(51,201,136,0) 0%,rgba(51,201,136,.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(51,201,136,0) 0%,rgba(51,201,136,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0033c988', endColorstr='#8033c988',GradientType=0 ); /* IE6-9 */
}
