<html>

  <body >

    <!--START ::CONTENT:: \\ CAPSTONE  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ CAPSTONE  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ CAPSTONE  -->
        <row>

            <img class="everyman_img" src="drone.png"  alt="Drone"></img>

               <div>
                 <h0 class="h0">AUTONOMOUS FLIGHT</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:8px">Autonomous Drone Control with Computer Vision</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ CAPSTONE  -->



        <!--START ::WRITE_UP:: \\ CAPSTONE  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p>For my Capstone in Computer Science, we built a system that could fly a drone just from seeing it. Using the Xbox 360 Kinect and a Raspberry Pi, we were able to track a drone in 3D space and control its position based on that information.</p>
          <!-- <p>Three days after Fall semester finals, I started. I brought in some consumer drones, and made a trip to Fry’s Electronics and got to work. What my team proposed was a configuration of sensors and computers that would increase the agility and flight time of similarly sized drones while enabling them to do more by making it easier for them to work together.</p> -->
          <p>We created a Java program to read info from the Kinect and send controls to the Raspberry Pi. We used Python on the Raspberry Pi to control the drone after we wired it into the Drone's remote control. Using this control system we were able to achieve flight for the full duration of the drone's battery life. </p>

          <a style="color:#FFF" href="https://www.youtube.com/watch?v=nXzrpIIK-Po&list=PLMCGD7wJZv7v9-01iAVx8knACmSkQbFCp"><b>See more in my YouTube series!</b></a>
          <p><p><a style="color:#FFF" href="files/Autonomous_Drone_Control_with_Computer_Vision.pdf"><b>Read the paper, "Staging to Liftoff"</b></a></p></p>

        </div>
      </row>
        <!--END ::WRITE_UP:: \\ CAPSTONE  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ CAPSTONE  -->


      <!--START ::R_CONTENT:: \\ CAPSTONE  -->


        <video class="container_two" autoplay="" controls="" style="margin: 25px 0px;" min-width="50%">
          <source src="files/flight_sample.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      <!--END ::R_CONTENT:: \\ CAPSTONE  -->


    </container>
      <!--END ::CONTENT:: \\ CAPSTONE  -->

  </body>

</html>
