<html>

  <body >

    <!--START ::CONTENT:: \\ CAPSTONE  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ CAPSTONE  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ CAPSTONE  -->
        <row>

            <img class="everyman_img" src="drone.png"  alt="Drone"></img>

               <div>
                 <h0 class="h0">AUTONOMOUS FLIGHT</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:8px">Autonomous Drone Control with Computer Vision</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ CAPSTONE  -->



        <!--START ::WRITE_UP:: \\ CAPSTONE  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p> 	To recieve the Bachelor of Science in Computer Science from the University of Puget Sound, students are required to complete a capstone project. Typically students start in the spring, and select a project from a list of options created by professors and gathered from the campus community.</p>
          <p>Three days after Fall semester finals, I started. I brought in some consumer drones, and made a trip to Fry’s Electronics and got to work. What my team proposed was a configuration of sensors and computers that would increase the agility and flight time of similarly sized drones while enabling them to do more by making it easier for them to work together.</p>
          <p>	The system relied on the Xbox 360 Kinect for our tracking with a program written in Java, and a python script running on a Raspberry Pi that was wired into the drone’s remote. Here’s one of the recorded flights from the project.</p>
          <a style="color:#FFF" href="files/Autonomous_Drone_Control_with_Computer_Vision.pdf"><b>Read the paper, "Staging to Liftoff"</b></a>

        </div>
      </row>
        <!--END ::WRITE_UP:: \\ CAPSTONE  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ CAPSTONE  -->


      <!--START ::R_CONTENT:: \\ CAPSTONE  -->
      <div class="container_two" style="  margin-left: 0%;">


        <video  autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls " style="margin: 25px 0px;" width="600px">
          <source src="files/flight_sample.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
      <!--END ::R_CONTENT:: \\ CAPSTONE  -->


    </container>
      <!--END ::CONTENT:: \\ CAPSTONE  -->

  </body>

</html>
