<html>

  <body >
    <!-- .hero-transparent{ -->

    <!--START ::CONTENT:: \\ COVER LETTER  -->
    <div class="" >


      <!--START ::LEFTIST_CONTENT:: \\ COVER LETTER  -->
      <div class="container_one"  style="padding-top: 10%; min-width:633px">

        <!--START ::DOCU_TITLE:: \\ COVER LETTER  -->
        <row>

               <div>
                 <h0 class="h0" id="cover_letter_thin">COVER LETTER</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:0px">Banji Oyewole, Raster Chief and Software Chef.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ COVER LETTER  -->



        <!--START ::WRITE_UP:: \\ COVER LETTER  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >


          <p>Historically, my primary discipline has been Computer Science, but I've done some other projects that I think are interesting too.

            I've also worked hard to make student government cool again while I was the Director of Marketing and Outreach for the Associated Students of the University of Puget Sound.

            I've worked with great people to design and built great services that held the user's experience to as high a standard as we did our software implementation; Among other things, we built a food delivery service for weekend delights and weekday staples.

            And for my university capstone in Computer Science, I made a drone fly autonomously with computer vision. </p>

          <p>All that and more is here as an archive of sorts for you to enjoy. </p>

            <p><i>Welcome to BANJ.IO.</i></p>

          <img src="images/HERO6.png" width="200px" >
          <p style="margin-top:10px;"><i><b style="margin-left:35px;  font-size:18px">BANJI OYEWOLE</b></i></p>



          <a href="#" onclick="return false;" onmousedown="autoScrollTo('content_top');">
          <img class="everyman_img_ctr" src="animated-arrow.gif"  alt="(Scroll Down)"></img>
        </a>

        </div>


      </row>
        <!--END ::WRITE_UP:: \\ COVER LETTER  -->

      </div>
      <!--END ::LEFTIST_CONTENT:: \\ COVER LETTER  -->

      <!-- <a href="/files/resume_w18_ts.pdf" style="text-decoration: none;padding-top:15px;padding-left:0px;padding-right:0px; padding-bottom:5px; margin-top:-80px; margin-right: 60px; float:right" data-upgraded=",MaterialButton"><p  class="mdl-button mdl-js-button" style="margin: -150 0 0 20px; color:white">VIEW RESUME</p></a> -->





    </div>
      <!--END ::CONTENT:: \\ COVER LETTER  -->

  </body>

</html>
