<html>

  <body >
    <!-- .hero-transparent{ -->

    <!--START ::CONTENT:: \\ COVER LETTER  -->
    <div class="" >


      <!--START ::LEFTIST_CONTENT:: \\ COVER LETTER  -->
      <div class="container_one"  style="padding-top: 10%; min-width:633px">

        <!--START ::DOCU_TITLE:: \\ COVER LETTER  -->
        <row>

               <div>
                 <h0 class="h0" id="cover_letter_thin">COVER LETTER</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:0px">My name is Banji Oyewole and I am not <i>just</i> a Computer Scientist.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ COVER LETTER  -->



        <!--START ::WRITE_UP:: \\ COVER LETTER  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >

          <!-- <p> My name is Banji Oyewole, and I desire to understand, create and explore.</p> -->

          <p>Formally, I did study Computer Science and Mathematics at University of Puget Sound, but I'm also a designer, a director, and a creator.</p>

          <!-- <p>We built Honeyfire Inc., a company whose software was executed beautifully and put user experience above all else.</p> -->

          <p>While attenging the University of Puget Sound, I was the Director of Marketing and Outreach for our student government. During my tenure, I rebuilt its brand identity, introducting a newly designed logo and approaching marketing in refreshing ways to increase student engagement.</p>

          <p>I've worked with like-minded thinkers to create a not just the software, but a company whose focus was to build beautiful, functional apps that would have a meaningful impact on the way people found new experiences University.</p>


          <p>And I've also had the pleasure of being a part of telling stories in the theater department, and telling stories of my own though cinema.</p>

          <p>I wrote a short film called "Voux &amp; I." With an incredible team of 6 I spent 10 days of school shooting, and editing the movie, which took an award at our stuent film festival.</p>



          <p>Projects like these that intersect form and function is where I find myself most satisfied. This website itself exists in that intersection, and surfaces some of the other projects I’ve worked on that exist because of an intentional exploration of this space. <i>Welcome to BANJ.IO.</i></p>

          <img src="images/HERO6.png" width="200px" >
          <p style="margin-top:10px;"><i><b style="margin-left:35px;  font-size:18px">BANJI OYEWOLE</b></i></p>


          <!-- <a href="/files/resume_w18_ts.pdf" <p style="margin-top:10px;"><b style="margin-left:35px;  font-size:16px">SEE RESUME</b></p></a> -->

          <a href="#" onclick="return false;" onmousedown="autoScrollTo('content_top');">
          <img class="everyman_img_ctr" src="animated-arrow.gif"  alt="(Scroll Down)"></img>
        </a>

        </div>


      </row>
        <!--END ::WRITE_UP:: \\ COVER LETTER  -->

      </div>
      <!--END ::LEFTIST_CONTENT:: \\ COVER LETTER  -->

      <a href="/files/resume_w18_ts.pdf" style="text-decoration: none;padding-top:15px;padding-left:0px;padding-right:0px; padding-bottom:5px; margin-top:-80px; margin-right: 60px; float:right" data-upgraded=",MaterialButton"><p  class="mdl-button mdl-js-button" style="margin: -150 0 0 20px; color:white">VIEW RESUME</p></a>





    </div>
      <!--END ::CONTENT:: \\ COVER LETTER  -->

  </body>

</html>
