<html>
<head>
  <title>Banj.io – Design</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->

  <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
      <!-- Material Design icon font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <link rel="stylesheet" href="../one.css">

</head>

<body
style="background: url(/reigonalphsa.jpg) no-repeat center center fixed; background-color: #000;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
">

<!-- TOOLBAR -->

<div src="/images/toolbar.png" style="background-image: url('/images/toolbar.png'); background-repeat: repeat-x; width: inherit;">

  <a href="/" class="mdl-button mdl-js-button" style="text-decoration: none;padding-top:15px;padding-left:0px;padding-right:0px; padding-bottom:5px; margin-top:-10px;" data-upgraded=",MaterialButton">
  <i class="material-icons" style="color:white;">arrow_back</i>
  </a>

<a href="/"> <img src="/images/banjio-asset.png" style="height: 24px; padding: 18px; padding-bottom: 29px; padding-left:0px"> </a>
</div>

<!-- TOOLBAR -->



  <div class="demo-card-wide mdl-card mdl-shadow--2dp cardstyle" style="width:initial; max-width:1100px; margin: 25px;">

<div class="jumbotron"  style="padding:10px 40px;">
  <h1 class="mdl-typography--display-2 mdl-typography--font-bold"  style="font-size: 40px;">DESIGN</h1>
  <!-- TODO Consdier ACID color accent -->
  <p>I've had the opportunity to work on some interesting projects. Before University, I worked on some software projects for which I had the pleasure of creating their marketing materials. In University I had the opportunity to serve as the design administrator for the student government, and worked to overhaul the brand and market some key events welcoming new and returning students back to campus. Some of us at university formed a company, and I worked to create marketing materials for our products as well. I have collected a sample of designs that I really enjoyed throughout these experiences and share them with you now.</p>

    </div>
  </div>




  <!-- BEGIN UNIVERSALIS AESTHETICS GROUP -->


  <div>

    <div class= "imminible" style="float:left">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; max-width:1100px;">

    <div class="jumbotron"  style="padding:10px 40px;">
    <h1 class="mdl-typography--display-2 mdl-typography--font-bold"  style="font-size: 40px;">Associated Students of the University of Puget Sound</h1>
    <!-- TODO Consdier ACID color accent -->
    <p>In 2015 I had the opportunity to work in leadership in the executive branch of the student government. Among many great things we were able to accomplish that year, we also began a rebranding campeign to shift perspective away from ASUPS as a monolyth to something more in line with what it was, an organization operated by the students.</p>
    <p>The new brand identity came with creating a new logo, new banner, and introducing stickers, shirts and other goods to get the new face of the student government in front of students. The new ASUPS logo is used as the identifying mark internally and externally so campus visitors and prosective students get a feel of what the students at the university are up to.</p>

      </div>

    </div>

    </div>


    <div class="colunm_dos imminible imigminable" >


      <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:auto; max-width:1100px;   "> -->

        <div class="gallery column_image">
          <a target="_blank" href="new_digital.jpg">
            <img src="new_digital.jpg" alt="2015+ ASUPS LOGO" width="550px" height="550px">
          </a>
          <div class="desc">FLYPOST ORTHOGRAPHIC</div>
        </div>

      <!-- </div> -->

    </div>


  </div>

  <!-- END UNIVERSALIS AESTHETICS GROUP -->


  <!-- MUSTANGS FOREVER GROUP -->

  <div  style="margin: 25px auto;">

  <div class= "imminible" style="float:left" >


  <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; max-width:1100px;  ">

<div class="jumbotron"  style="padding:10px 40px;">
  <h1 class="mdl-typography--display-2 mdl-typography--font-bold"  style="font-size: 40px;">Mira Costa Planner & Directory Covers</h1>
  <!-- TODO Consdier ACID color accent -->
  <p>Every year our high school hosted a planner cover design contest. In my junior year I submitted, and though I didn't win the contest, my design was requested by the PTSA President for use on the student directory cover. During my seinor year I created another design based on a similar foundation and it was used for the planner covers, as well as the Facebook header for the official Mira Costa High School Class of 2014 group.</p>

    </div>

  </div>

</div>

<div class="colunm_dos imminible imigminable" >


  <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:auto; max-width:1100px;   "> -->

    <div class="gallery column_image">
      <a target="_blank" href="hs_super.jpg">
        <img src="hs_super.jpg" alt="Mira Costa High School Graphics" width="840px" height="600px">
      </a>
      <div class="desc">School Planner Cover</div>
    </div>

  <!-- </div> -->

</div>

<!--
<div class="colunm_tres imminible imigminable">


  <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:auto; max-width:1100px;   "> -->

    <!-- <div class="gallery column_image">
      <a target="_blank" href="student_directory_cover.jpg">
        <img src="student_directory_cover.jpg" alt="13-14 Mira Costa High School Student Directory Cover" width="387px" height="600px">
      </a>
      <div class="desc">Student Directory Cover</div>
    </div> -->

  <!-- </div> -->

<!-- </div> -->


</div>


<!-- END MUSTANGS FOREVER GROUP -->

<!-- BEGIN LOGJAM AESTHETICS GROUP -->


<div>

  <div class= "imminible" style="float:left">

  <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; max-width:1100px;">

  <div class="jumbotron"  style="padding:10px 40px;">
  <h1 class="mdl-typography--display-2 mdl-typography--font-bold"  style="font-size: 40px;">LogJam! Campus Welcome Event</h1>
  <!-- TODO Consdier ACID color accent -->
  <p>Every Fall the University of Puget Sound hosts an all campus welcome event replete with free food, free shows and a festival of clubs and organizations for new and returning students to experience. While returning students know and prepare rigerously to intoruce their club to new students, we market this event very aggressivley. It is the only place to be on that first Friday of fall semester.</p>
  <p>The marketing campaign is aided by the university's communications department, but is spearheaded by the Associated Students' Director of Marketing and Outreach, a position I held for Summer and Fall of 2015. While the Director of Marketing and Outreach at ASUPS I was able to work on these posters.</p>

    </div>

  </div>

  </div>


  <div class="colunm_dos imminible imigminable" >


    <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:auto; max-width:1100px;   "> -->

      <div class="gallery column_image">
        <a target="_blank" href="uv_logjam.jpg">
          <img src="uv_logjam.jpg" alt="LogJam! Thanks for the Memories" width="840px" height="600px">
        </a>
        <div class="desc">2015 and 2017 LogJam! Posters</div>
      </div>

    <!-- </div> -->

  </div>


</div>

<!-- BEGIN LOGJAM AESTHETICS GROUP -->


<!-- BEGIN UNIVERSALIS AESTHETICS GROUP -->


<div>

  <div class= "imminible" style="float:left">

  <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; max-width:1100px;">

  <div class="jumbotron"  style="padding:10px 40px;">
  <h1 class="mdl-typography--display-2 mdl-typography--font-bold"  style="font-size: 40px;">Flypost Universalis</h1>
  <!-- TODO Consdier ACID color accent -->
  <p>We had the opportunity to approach some new ideas about Marketing events on campus. We were well aligned to try something new, and during rollout, we created some materials to showcase this new way to find events and explore new parts of campus.</p>
  <p>We designed beautiful experiences on iOS, Android, and Web, and created marketing materials to share what was a major change in how our universty would approach marketing, and increasing event engagement.</p>

    </div>

  </div>

  </div>


  <div class="colunm_dos imminible imigminable" >


    <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:auto; max-width:1100px;   "> -->

      <div class="gallery column_image">
        <a target="_blank" href="uv_versalis.jpg">
          <img src="uv_versalis.jpg" alt="Flypost Universalis" width="907px" height="600px">
        </a>
        <div class="desc">FLYPOST ORTHOGRAPHIC</div>
      </div>

    <!-- </div> -->

  </div>


</div>

<!-- END UNIVERSALIS AESTHETICS GROUP -->




</body>



</html>
