  <html>

  <body>

    <!--START ::CONTENT:: \\ FLASHLIGHT X  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ FLASHLIGHT X  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ FLASHLIGHT X  -->
        <row>

            <img class="everyman_img" src="flypost-universalis.png"  alt="FLYPOST UNIVERSALIS"></img>

               <div>
                 <h0 class="h0">FLYPOST UNIVERSALIS</h0>
                <div class="h88">  <hØ  class="hØ" style="margin-left:8px">Turn student engagement up to 11.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ FLASHLIGHT X  -->



        <!--START ::WRITE_UP:: \\ FLASHLIGHT X  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p>Flypost is a univeristy centric events marketing platform. As undergraduates we experienced some spectacularly lacking standard marketing practices that often led to low event attendance and an inability to discover new clubs beyond our club festival at the very beginning of the semester. We saw a challenge, and designed a solution that we believe is a forward thinking approach to event and organization marketing as well as a centralized place for viewing schedules for conferences all while being leagues more sustainable than the current practice. </p>
          <p>We achieved these high level goals by building a platform that is easy to navigate, and puts user content first. Flypost color matches it’s UI with the event the user is viewing, and makes it easier than ever to find information in the face of inadequate poster design, as well as makes it possible to immediatley find events similiar to the one you’re viewing now. </p>
          <!-- <b>Find the FLASHLIGHT X on Google Play</b> -->
          <a style="color:#FFF" href="files/flypost_universalis_student_presentation.pdf"><b>View Universalis Presentation</b></a>

        </div>

        <div class="hØ" style="margin-top: 25px;">
          <p style="font-size: 10px;">Call Me By Your Name © 2017 Frenesy Film Company S.R.L.</p>
        </div>

      </row>
        <!--END ::WRITE_UP:: \\ FLASHLIGHT X  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ FLASHLIGHT X  -->


      <!--START ::R_CONTENT:: \\ FLASHLIGHT X  -->


<img   class="mdl-shadow--16dp parallax--box container_three" src="/onefeed_hero.png" style="">

      <!-- <div class="video_box ">
        <video  autoplay=""  controls  class="mdl-shadow--16dp parallax--box" style="margin: 25px 0px;" width="400" height="710">
          <source src="/material_flashlight/mfx_hero.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div> -->


        <img   class="mdl-shadow--16dp parallax--box container_three" src="/seis_cmbyrname.png" style="">

      <!--END ::R_CONTENT:: \\ FLASHLIGHT X  -->

</container>
      <!--END ::CONTENT:: \\ FLASHLIGHT X  -->



  </body>

</html>
