<html>

  <body >

    <!--START ::CONTENT:: \\ HD PROJECT  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
        <row>

            <img class="everyman_img" src="frunk_me_daddy.png"  alt="Thin outline of Vehicle Front Trunk"></img>

               <div>
                 <h0 class="h0">FRUNK ME DADDY</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:8px">The fastest Frunk opener in the West.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



        <!--START ::WRITE_UP:: \\ HD PROJECT  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p>"Frunk" - Front Trunk.</p>
          <p>You know how in the movies, the protagonist never looks back at the explosion? I wanted the same thing, except that it's when I'm walking towards... my ca– What I'm trying to say is that I wanted to be able to open my frunk before I finished walking to my car. Tesla's app, while fantastic at a hundred different things, is not the fastest way to open the frunk. So I implemented my own.</p>
          <p>Frunk Me Daddy solves the speed problem by having access to the frunk button from a home screen shortcut. And on devices with Force Touch, it's about 50% faster than the Tesla App. (Preformed slowly here so you can see what's happening)</p>
          <!-- <b>Find the HD Project on Google Play</b> -->
          <a style="color:#FFF" href=""><b>Find Frunk Me Daddy on the App Store</b></a>
          <p></p>
          <a style="color:#FFF" href="mailto:frunkmedaddy@banj.io"><b>Contact Us</b></a>

        </div>

        <div class="hØ" style="margin-top: 25px;">
          <p style="font-size: 10px;">Tesla is a trademark of Tesla, Inc. and Force Touch is a trademark of Apple, Inc.</p>
          <p style="font-size: 10px; margin-top: 5px;"></p>
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ HD PROJECT  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


      <!--START ::R_CONTENT:: \\ HD PROJECT  -->

        <video autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls loop container_three_one" style="margin-left:8%">
          <source src="/frunk_me_daddy/frunk_me_daddy_hero.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      <!--END ::R_CONTENT:: \\ HD PROJECT  -->


    </container>
      <!--END ::CONTENT:: \\ HD PROJECT  -->

  </body>

</html>
