<html>

  <body >

    <!--START ::CONTENT:: \\ HD PROJECT  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
        <row>

            <img class="everyman_img" src="./assets/hd_resonant.png"  alt="The RESONANT"></img>

               <div>
                 <h0 class="h0">THE HD PROJECT</h0>
                 <div class="h88">  <hNot  class="hNot" style="margin-left:8px">The purest expression of the HD Project.</hNot></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



        <!--START ::WRITE_UP:: \\ HD PROJECT  -->
        <row>
        <div class="hNot" style="margin-top: 25px; "  >
          <p> The HD Project was one of the first things I ever did as a new designer and developer. It started as a place to store pictures I've taken, and quickly set them as my wallpaper. Over time I continued to update the application moving images from being embedded in the app to being hosted on this very server.</p>
          <p>My most recent update continues to provide access to my favorite pictures and makes it easier than ever to add new content from anywhere. Its current iteration stands above the others in that it's even more lightweight, robust and easier to use than ever.</p>
          <!-- <b>Find the HD Project on Google Play</b> -->
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ HD PROJECT  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


      <!--START ::R_CONTENT:: \\ HD PROJECT  -->

        <video autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls loop container_three_one" style="margin-left:8%">
          <source src="./assets/hd_project/he_hero.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      <!--END ::R_CONTENT:: \\ HD PROJECT  -->


    </container>
      <!--END ::CONTENT:: \\ HD PROJECT  -->

  </body>

</html>
