<html>

  <body >

    <!--START ::CONTENT:: \\ HD PROJECT  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
        <row>

            <img class="everyman_img" src="hd_resonant.png"  alt="The RESONANT"></img>

               <div>
                 <h0 class="h0">THE HD PROJECT</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:8px">Unobtrusive design cranked to 11.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



        <!--START ::WRITE_UP:: \\ HD PROJECT  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p> The HD Project was one of the first things I ever did as a burgeoning developer and designer. It started as a place to share pictures I'd taken and let me to be quickly change my phone wallpaper using pictures I'd taken.</p>
          <p>The first iteration looked more like classic instagram with squeomorphic corkboards and textures galore. As I grew as a software developer and a designer I continued to update the application moving images from being embedded in the app to being hosted on this very server.</p>
          <p>My most recent update continues to provide access to my favorite pictures and makes it easier than ever to add new content from anywhere. Though a classic idea, its current iteration is a standout in its easy to use, minimalistic, and content centric implementation.</p>
          <b>Find the HD Project on Google Play</b>
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ HD PROJECT  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


      <!--START ::R_CONTENT:: \\ HD PROJECT  -->
      <div class="container_two">


      <div class="video_box ">
        <video autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls loop" style="margin: 25px 0px;" width="400" height="822">
          <source src="/hd_project/he_hero.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      </div>
      <!--END ::R_CONTENT:: \\ HD PROJECT  -->


    </container>
      <!--END ::CONTENT:: \\ HD PROJECT  -->

  </body>

</html>
