<html>

<body style="background: url(/reigonalpha_00.jpg) no-repeat center center fixed; background-color: #000;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
" data-gr-c-s-loaded="true">
    <!--START ::CONTENT:: \\ HD PROJECT  -->


      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div style="height: 100%;">
    <div>
<div class="hero-transparent" style="
    top: 0px;
    height: 300px;
">


        <row>

            <img class="everyman_img" src="/hd_resonant.png" alt="The RESONANT">

               <div>
                 <h0 class="h0">THE HD PROJECT</h0>
                 <div class="h88">  <hø class="hØ" style="margin-left:8px">Unobtrusive design cranked to 11.</hø></div>
              </div>

        </row>





        <row>
        <div class="hØ" style="margin-top: 25px; ">
          <p> The HD Project was one of the first things I ever did as a burgeoning developer and designer. It started as a place to share pictures I'd taken and let me to be quickly change my phone wallpaper using pictures I'd taken.</p>
          <p>The first iteration looked more like classic instagram with squeomorphic corkboards and textures galore. As I grew as a software developer and a designer I continued to update the application moving images from being embedded in the app to being hosted on this very server.</p>
          <p>My most recent update continues to provide access to my favorite pictures and makes it easier than ever to add new content from anywhere. Though a classic idea, its current iteration is a standout in its easy to use, minimalistic, and content centric implementation.</p>
          <b>Find the HD Project on Google Play</b>
        </div>
      </row>

        </div>


      </div>
</div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->








      <!--END ::CONTENT:: \\ HD PROJECT  -->




</body></html>
