<html>


<body>




  <!--START ::CONTENT:: \\ HD PROJECT  -->
<row>




  <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
  <div class="colunm_dos cardstyle_l" style="width:40%; margin:0 5%;">

<!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
<row>

    <!-- <row > -->
    <img src="hd_resonant.png" style="float:left; width: 90px; height:90px; margin: 10px 30px" alt="The RESONANT"></img>

       <div class="">
         <div> <h0 class="h0">THE HD PROJECT</h0></div>
         <div style="    margin-top: -6px;">   <hØ  class="hØ" style="margin-left:8px">Unobtrusive design cranked to 11.</hØ></div>
      </div>



    <!-- </row> -->

</row>
<!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



  <!--START ::WRITE_UP:: \\ HD PROJECT  -->
  <row>
  <div class="hØ" style="margin-top: 25px; "  >
    <p> The HD Project was one of the first things I ever did as a burgeoning developer and designer. It started as a place to share pictures I'd taken and let me to be quickly change my phone wallpaper using pictures I'd taken.</p>
    <p>The first iteration looked more like classic instagram with squeomorphic corkboards and textures galore. As I grew as a software developer and a designer I continued to update the application moving images from being embedded in the app to being hosted on this very server.</p>
    <p>My most recent update continues to provide access to my favorite pictures and makes it easier than ever to add new content from anywhere. Though a classic idea, its current iteration is a standout in its easy to use, minimalistic, and content centric implementation.</p>
  </div>
</row>
  <!--END ::WRITE_UP:: \\ HD PROJECT  -->


</div>
<!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


  <!--START ::R_CONTENT:: \\ HD PROJECT  -->
  <div class="" style="width: 40%; float:right; ">

<div style="margin:0 0%">
    <video class="mdl-shadow--16dp" style="margin: 25px 0px;" width="400" height="822" autoplay="">
          <source src="/hd_project/he_hero.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
</div>

  </div>
  <!--END ::R_CONTENT:: \\ HD PROJECT  -->


</row>
  <!--END ::CONTENT:: \\ HD PROJECT  -->








</body>


</html>
