<html>


<body>


<img  class="hero-transparent" src="images/HERO.png"></img>


<footer style="align:bottom;" class="footer">
  <!-- <table>
    <colgroup>
            <col>
            <row>
                  <a href="/software" class="mdl-button mdl-js-button b1a" style="text-decoration: none;  color:#fff; margin-left: .5em;margin-bottom:-2em;"  data-upgraded=",MaterialButton">EXPERIENCE NOW</a>
            </row>
            <row>
                  <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin"><img class="everyman_img_ctr" src="animated-arrow.gif"  alt="(Scroll Down)"></img></a>
            </row>

            </col> -->
<div style="  display:flex; flex-direction: column;">
                <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin')" class="hØ" style="text-decoration: none;  color:#ffffff; opacity: 0.9; margin-left: .0em; margin-bottom:-1em;"   data-upgraded=",MaterialButton">EXPERIENCE NOW</a>


                <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin')">
                <img class="everyman_img_ctr" src="animated-arrow.gif"  alt="(Scroll Down)"></img>
              </a></div>

      </footer>


    </body>


</html>
