<html>


<body>


<img  class="hero-transparent" src="./assets/HERO_SAPPHIRE.png"></img>

<footer style="align:bottom;" class="footer">
              <a href="./files/resume_f19_ts.pdf" style="text-decoration: none; margin: 35px 60px; float:right; display:flex; flex-direction: column;" data-upgraded=",MaterialButton"><p  class="mdl-button mdl-js-button" style=" color:white">VIEW RESUME</p></a>
</footer>


<footer style="align:bottom; width: 60%; margin: 0 auto" class="footer">
  <!-- <table>
    <colgroup>
            <col>
            <row>
                  <a href="/software" class="mdl-button mdl-js-button b1a" style="text-decoration: none;  color:#fff; margin-left: .5em;margin-bottom:-2em;"  data-upgraded=",MaterialButton">EXPERIENCE NOW</a>
            </row>
            <row>
                  <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin"><img class="everyman_img_ctr" src="./assets/animated-arrow.gif"  alt="(Scroll Down)"></img></a>
            </row>

            </col> -->


<div style="display:flex; flex-direction: column;">
                <!-- <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin')" class="hNot" style="text-decoration: none;  color:#ffffff; opacity: 0.9; margin-left: .0em; margin-bottom:-1em;"   data-upgraded=",MaterialButton">EXPERIENCE NOW</a> -->


                <a href="#" onclick="return false;" onmousedown="autoScrollTo('cover_letter_thin')">
                <img class="everyman_img_ctr" src="./assets/animated-arrow.gif"  alt="(Scroll Down)"></img>
              </a></div>



      </footer>




      <!-- <footer style="align:bottom; float:left; width: 20%" class="footer">
                    <a href="/design" style="text-decoration: none; margin: 35px 60px; float:left; display:flex; flex-direction: column;" data-upgraded=",MaterialButton"><p  class="mdl-button mdl-js-button" style=" color:white">EXPERIENCE DESIGN</p></a>
      </footer> -->

    </body>


</html>
