<html>


<body>


<img  class="hero-transparent" src="images/HERO.png"></img>


<footer style="align:bottom;" class="footer">
          <div class="container">
            <!-- <div> -->




              <!-- <div class="column_image"> -->
                <!-- <a href="/design" class="mdl-button mdl-js-button b1a" style="text-decoration: none;  color:#fff; margin-bottom:1em; margin-right:2em"  data-upgraded=",MaterialButton">
                  EXPLORE DESIGN
                </a> -->
              <!-- </div> -->

                <!-- <div class="column_image"> -->
                  <a href="/software" class="mdl-button mdl-js-button b1a" style="text-decoration: none;  color:#fff; margin-bottom:1em; margin-left:2em"  data-upgraded=",MaterialButton">
                  EXPERIENCE NOW
                  </a>
              <!-- </div> -->

            <!-- </div> -->
          </div>
      </footer>


    </body>


</html>
