<html>

  <body>

    <!--START ::CONTENT:: \\ FLASHLIGHT X  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ FLASHLIGHT X  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ FLASHLIGHT X  -->
        <row>

            <img class="everyman_img" src="./assets/flashlight_x.png"  alt="FLASHLIGHT X"></img>

               <div>
                 <h0 class="h0">FLASHLIGHT X</h0>
                <div class="h88">  <hNot  class="hNot" style="margin-left:8px">The intersection of form and function.</hNot></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ FLASHLIGHT X  -->



        <!--START ::WRITE_UP:: \\ FLASHLIGHT X  -->
        <row>
        <div class="hNot" style="margin-top: 25px; "  >
          <p>Imagine an application whose design intent was to delight. Flashlight X’s approach to user experience was unique in that it wasn’t an attempt to digitally reproduce a physical flashlight; It was a reimagination of the flashlight in a purely digital space. </p>
          <p>I arrived at an app with a single button occupying the whole screen, and a Floating Action Button to access other features like strobe, sound reaction and, most recently, camera preview. What sets Material Flashlight apart is not only its gorgeous execution but its slew of advanced features that are not only easy to use but look great too.</p>
          <!-- <b>Find the FLASHLIGHT X on Google Play</b> -->
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ FLASHLIGHT X  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ FLASHLIGHT X  -->


      <!--START ::R_CONTENT:: \\ FLASHLIGHT X  -->
      <video autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls loop container_three_one" style="margin-left:8%">
        <source src="./assets/material_flashlight/mfx_hero.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <!--END ::R_CONTENT:: \\ FLASHLIGHT X  -->

</container>
      <!--END ::CONTENT:: \\ FLASHLIGHT X  -->

  </body>

</html>
