<html>

  <body >

    <!--START ::CONTENT:: \\ CAPSTONE  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ CAPSTONE  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ CAPSTONE  -->
        <row>

            <img class="everyman_img" style="width:110px; height:110px" src="./assets/movi_asset.png"  alt="Drone"></img>

               <div>
                 <h0 class="h0">MOVI CINEMA ROBOT</h0>
                 <div class="h88">  <hNot  class="hNot" style="margin-left:8px">Cinematic moves, Robotic control.</hNot></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ CAPSTONE  -->



        <!--START ::WRITE_UP:: \\ CAPSTONE  -->
        <row>
        <div class="hNot" style="margin-top: 25px; "  >
          <p> 	Movi is a handheld gimbal that enables people to create smooth cinematic movies all with the power of their smartphone. In six months I built an Android app capable of recording 4K video and talking to Movi and achieved feature parity with the iOS app.</p>
          <!-- <p>   In 6 months, I built the Android app using a shared BTLE communications library, gaining fully equivalent control over Movi and the device's camera on 10 target android devices, with expected support for more.</p> -->
          <p>   The camera part of the app uses the latest APIs to enable high FPS and high-bitrate recording rivaling DSLRs and camcorders. The app also enables Movi methods like Movilapse, a specialized recording mode allows for Timelapse speed videos to take you through space too.</p>
          <!-- <a style="color:#FFF" href="http://gomovi.com/"><b>Learn More About Movi</b></a> -->

        </div>
      </row>
        <!--END ::WRITE_UP:: \\ CAPSTONE  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ CAPSTONE  -->


      <!--START ::R_CONTENT:: \\ CAPSTONE  -->


        <video class="container_two"  autoplay=""  controls class="mdl-shadow--16dp parallax--box controls " style="margin: 25px 0px;" min-width="50%">
          <source src="./assets/movi/movi-android-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      <!--END ::R_CONTENT:: \\ CAPSTONE  -->


    </container>
      <!--END ::CONTENT:: \\ CAPSTONE  -->

  </body>

</html>
