<html>

  <body >

    <!--START ::CONTENT:: \\ CAPSTONE  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ CAPSTONE  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ CAPSTONE  -->
        <row>

            <img class="everyman_img" style="width:110px; height:110px" src="movi_asset.png"  alt="Drone"></img>

               <div>
                 <h0 class="h0">MOVI CINEMA ROBOT</h0>
                 <div class="h88">  <hØ  class="hØ" style="margin-left:8px">Cinematic moves, Robotic control.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ CAPSTONE  -->



        <!--START ::WRITE_UP:: \\ CAPSTONE  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p> 	Movi is a handheld gimbal that enables people to create smooth cinematic movies all with the power of their smartphone. In Spring, I used Movi with iPhone for some exiting shot in my film "Voux &amp; I." At the beginning of Summer '18 there was no Android app.  By the end of Summer there was.</p>
          <p>   In 6 months, I built the Android app using a shared BTLE communications library, gaining fully equivalent control over Movi and the device's camera on 10 target android devices, with expected support for more.</p>
          <p>   The camera used Android's new Camera 2 API giving absolute control over every recording parameter. I went as low as reading in YUV buffers straight from the sensor to enable Movi methods like Movilapse, a specialized recording mode allows for Timelapse speed videos to take you through space too.</p>
          <a style="color:#FFF" href="http://gomovi.com/"><b>Learn More About Movi</b></a>

        </div>
      </row>
        <!--END ::WRITE_UP:: \\ CAPSTONE  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ CAPSTONE  -->


      <!--START ::R_CONTENT:: \\ CAPSTONE  -->
      <div class="container_two" style="  margin-left: 0%;">


        <video  autoplay=""  controls class="mdl-shadow--16dp parallax--box controls " style="margin: 25px 0px;" width="600px">
          <source src="movi-android-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
      <!--END ::R_CONTENT:: \\ CAPSTONE  -->


    </container>
      <!--END ::CONTENT:: \\ CAPSTONE  -->

  </body>

</html>
