<html>

  <body>

    <!--START ::CONTENT:: \\ HD PROJECT  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
        <row>

            <img class="everyman_img" src="myngo_icarus.png"  alt="MYNGO ICARUS"></img>

               <div>
                 <h0 class="h0">MYNGO PROJECT</h0>
                 <div class="h88">   <hØ  class="hØ" style="margin-left:8px">Expand your palate, Shrink your city.</hØ></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



        <!--START ::WRITE_UP:: \\ HD PROJECT  -->
        <row>
        <div class="hØ" style="margin-top: 25px; "  >
          <p> The Myngo Project was my summer in 2016. It was our answer to the question "How would we do food delivery for us?". We were college students who wanted food delivery for our campus. Tacoma hadn't been addressed by any of the big names of food delivery at the time, so we sat down, and designed and developed our own food delivery service.</p>
          <p> Not only were we college students, but we were also designers, developers, and business people. At the end of the year, four of us got together and created the brand and the company that would become Honeyfire, LLC and Myngo. We brought in great libraries from Firebase for our push notifications for the driver mobile applications, and Paypal's Braintree to support in app billing with payment cards.</p>
          <p> My job was product design, and android design and development. In Fall of my Junior year, we ran Myngo Beta, and completed over 50 orders, and collected valuable data that would shape the product going forward. Myngo was an application built by designers that placed user experience before everything else, which resulted in an incredible food delivery experience from discovering local restaurants, all the way though checking out and checking your order status.</p>
          <!-- <b>Find the HD Project on Google Play</b> -->
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ HD PROJECT  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


      <!--START ::R_CONTENT:: \\ HD PROJECT  -->
      <div class="container_two">


      <div class="video_box ">
        <video  autoplay=""  controls  class="mdl-shadow--16dp parallax--box" style="margin: 25px 0px;" width="400" height="710" >
          <source src="/myngo/myngo_he_hero.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      </div>
      <!--END ::R_CONTENT:: \\ HD PROJECT  -->


    </container>
      <!--END ::CONTENT:: \\ HD PROJECT  -->

  </body>

</html>
