<html>

  <body>

    <!--START ::CONTENT:: \\ HD PROJECT  -->
<container>

      <!--START ::LEFTIST_CONTENT:: \\ HD PROJECT  -->
      <div class="container_one">

        <!--START ::DOCU_TITLE:: \\ HD PROJECT  -->
        <row>

            <img class="everyman_img" src="./assets/myngo_icarus.png"  alt="MYNGO ICARUS"></img>

               <div>
                 <h0 class="h0">MYNGO PROJECT</h0>
                 <div class="h88">   <hNot  class="hNot" style="margin-left:8px">Expand your palate, Shrink your city.</hNot></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ HD PROJECT  -->



        <!--START ::WRITE_UP:: \\ HD PROJECT  -->
        <row>
        <div class="hNot" style="margin-top: 25px; "  >
          <p> The Myngo Project was my summer in 2016. It was our answer to the question "How would we do food delivery?". We were students who wanted food delivery for our campus. As much as we were hungry college students, we were also designers, developers, and business people. At the end of the year, four of us got together and created the brand and the company that would become Honeyfire, LLC, and Myngo.</p>
          <p>Myngo was an application built by designers that placed user experience above all else. The result was an incredible food delivery experience starting with discovering local restaurants, all the way through checkout. In Fall of my Junior year, we ran Myngo Beta, and completed over 50 orders, and collected valuable data that would shape the product going forward.</p>
                    <!-- <b>Find the HD Project on Google Play</b> -->
        </div>
      </row>
        <!--END ::WRITE_UP:: \\ HD PROJECT  -->


      </div>
      <!--END ::LEFTIST_CONTENT:: \\ HD PROJECT  -->


      <!--START ::R_CONTENT:: \\ HD PROJECT  -->
    <video autoplay=""  controls  class="mdl-shadow--16dp parallax--box controls loop container_three_one" style="margin-left:8%">
      <source src="./assets/myngo/myngo_he_hero.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
      <!--END ::R_CONTENT:: \\ HD PROJECT  -->


    </container>
      <!--END ::CONTENT:: \\ HD PROJECT  -->

  </body>

</html>
