<html>
<head>
  <title>Banj.io – 404</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->

  <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
      <!-- Material Design icon font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body
style="background: url(/reigonalphsa.jpg) no-repeat center center fixed; background-color: #000;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
">
<div src="/images/toolbar.png" style="background-image: url('/images/toolbar.png'); background-repeat: repeat-x; width: inherit;">
<a  href="/"> <img src="/images/banjio-asset.png" style="height: 24px; padding: 18px; padding-bottom: 29px;"> </a>
</div>
  <!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp"> -->

  <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin-top:100px; margin-left: 200px; margin-right:200px; width: initial;">
    <!-- <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="jumbotron"  style="padding:40px;">
  <h1 class="mdl-typography--display-2 mdl-typography--font-thin"  style="font-size: 55px;">404!</h1>
  <p>The page you are looking for has either moved, or no longer exists.</p>
      <!-- <div id="p2" style="visibility: hidden;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div> -->
<!--
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      <p><a class="btn btn-primary btn-lg" href="/efarrari/upload" role="button">Learn more</a></p>
 -->

    <!-- <div> -->

      <!-- <section class"b1a" > -->
      <!--

      <a  href="/efarrari" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent b1a" style="text-decoration: none;">
        View Imagery
      </a> -->

    <!-- </div> -->

    <form id        =  "uploadForm"
         enctype   =  "multipart/form-data"
         action    =  "/api/photo"
         method    =  "post"
         style="visibility: hidden;">

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="name" id="name">
           <label class="mdl-textfield__label" for="name">Image Name</label>
         </div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="sensor" id="sensor">
           <label class="mdl-textfield__label" for="sensor">Image Sensor</label>
         </div>


         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="date"  id="date">
           <label class="mdl-textfield__label" for="date">Capture Date</label>
         </div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="pack"  id="pack">
           <label class="mdl-textfield__label" for="pack">Pack</label>
         </div>
         <!-- <label for="long-text" class="control-label">Further description:</label>
                        <input type="text" class="form-control" name="description" id="message-text"> -->

    <input type="file" name="userPhoto" />
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent b1a" value="Upload Image" name="submit">
    <a  href="/efarrari/source" class="mdl-button mdl-js-button b1a" style="text-decoration: none;">
     View Data
   </a>
    <span id="status"></span>
    <!-- MDL Progress Bar with Indeterminate Progress -->
    </form>
    <a  href="/" class="mdl-button mdl-js-button b1a" style="text-decoration: none;">
     To Home
   </a>


    </div>
  </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

  <script>
    $(document).ready(function() {

       $('#uploadForm').submit(function() {
          $("#status").empty().text("File is uploading...");
          document.getElementById('p2').style.visibility = 'visible';
          $(this).ajaxSubmit({
              error: function(xhr) {
          status('Error: ' + xhr.status);
              },

              success: function(response) {
          $("#status").empty().text(response);
          document.getElementById('p2').style.visibility = 'hidden';


                  console.log(response);
              }
      });
          //Very important line, it disable the page refresh.
      return false;
      });
  });
  </script>


</html>
