body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero-transparent{
  position: absolute;
  padding: 0% 5%;
      margin: auto;
      left: 0;
      right: 0;
      top: -18%;
      bottom: 0;
      width: 90%;
      max-width: 1440px;
      max-height: 80%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a000;
  text-align: center;
}
